<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundleDisplayName</key>
    <string>치팅데이</string>
    <key>CFBundleIdentifier</key>
    <string>com.example.MyApp</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSCameraUsageDescription</key>
    <string>We need access to the camera to allow you to take photos.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to allow you to select photos.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need access to your location to provide location-based services.</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>tel</string>
        <string>sms</string>
        <string>mailto</string>
    </array>
</dict>
</plist>
